@tailwind base;
@tailwind components;
@tailwind utilities;

/* Figtree font via Google */
@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;700;900&display=swap');

:root{
  --heritage: #EC2088;
  --purple: #8A2890;
  --midnight: #292563;
  --blackish: #191919;
  --gallery: #FFFFFF;
  --sky: #12B1E7;
  --sun: #FDD40E;
}

html,body,#__next{
  height:100%;
}

body {
  font-family: 'Figtree', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: var(--blackish);
  background: #fff;
  -webkit-font-smoothing:antialiased;
}
